*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Star Jedi', arial;
}

body {
  margin-left: auto;
  margin-right: auto;
  padding: 100px;
  text-align: center;
  color: #d4b300;
  font-family: 'Gugi', cursive;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(https://images.pexels.com/photos/1341279/pexels-photo-1341279.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
  
  background-position: cover; 
}

ul {
  list-style: none;
}

.logo {
  height: 30%;
  width: 30%;
}

.right-answer {
  margin: 10px;
  font-size: 20px;
}

main {
  margin: 15px;
}

.starPage h1, p {
  margin: 25px;
}

.startPage p {
  font-size: 18px;
  font-weight: 600;
}

h3 {
  margin: 10px;
}

.startButton {
  font-family: 'Gugi', cursive;
  font-size: 200%;
  border: 0;
  border-radius: 5px;
  height: 60px;
  width: 90px !important;
  color:;
  background-color:  #d4b300;
}

form {
  display: flex;
  justify-content: center;
  margin: 20px;
  font-size: 125%
}

fieldset {
  border: none;
  justify-content: center;
}

label {
  display: flex;
  flex-direction: row;
  text-align: right;
  margin-top: 15px;
  margin-bottom: 10px;
  margin-left: 25px;
}

input {
  position: relative;
  right: 100px;
}

input[type="radio"] {
  right: 20px;
}

.submitButton {
  align-self: flex-start;
  font-family: 'Gugi', cursive;
  font-size: 200%;
  border: 0;
  border-radius: 5px;
  height: 20px;
  width: 90px !important;
  color: #d4b300;
  background-color: transparent;
}












